<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No events!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>Image</th>
            <th>ID</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
            <td th:text="${event.name}"></td>
            <td th:text="${event.description}"></td>
<!--        <td th:text="${event.key}"></td>-->
<!--        <td th:text="${event.value}"></td>-->
        <td th:fragment="address">1234 5th St</td>
        <td><img th:src="@{/images/{eventName}.png(eventName=${event.name})}" alt="" style="max-height: 200px; max-width: 200px;"/></td>
        <td th:text="${event.id}"></td>
        <td><a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a></td>
    </tr>
</table>

</body>
</html>